
Brighten.shader			RCDATA		"Brighten.shader"
Emboss.shader			RCDATA		"Emboss.shader"
GaussianBlur.shader		RCDATA		"GaussianBlur.shader"
BrightPass.shader		RCDATA		"BrightPass.shader"
builtins.shader		RCDATA		"builtins.shader"
RadialBlur.shader		RCDATA		"RadialBlur.shader"
Wavy.shader		RCDATA		"Wavy.shader"
Wavy2.shader		RCDATA		"Wavy2.shader"
blackandwhite.shader	RCDATA		"blackandwhite.shader"
Bloom.shader			RCDATA		"Bloom.shader"
blur.shader			RCDATA		"blur.shader"
DirectionalBlur.shader		RCDATA		"DirectionalBlur.shader"
frag.shader			RCDATA		"frag.shader"
HueAdjust.shader		RCDATA		"HueAdjust.shader"
laplace.shader			RCDATA		"laplace.shader"
LightStreak.shader		RCDATA		"LightStreak.shader"
Mixer.shader			RCDATA		"Mixer.shader"
Pinch.shader			RCDATA		"Pinch.shader"
Pixelate.shader			RCDATA		"Pixelate.shader"
Ripple.shader			RCDATA		"Ripple.shader"
Swirl.shader			RCDATA		"Swirl.shader"
test.shader			RCDATA		"test.shader"
