
Brighten.shader			RCDATA		"Brighten.shader"
Emboss.shader			RCDATA		"Emboss.shader"
GaussianBlur.shader		RCDATA		"GaussianBlur.shader"
BrightPass.shader		RCDATA		"BrightPass.shader"
builtins.shader		RCDATA		"builtins.shader"
RadialBlur.shader		RCDATA		"RadialBlur.shader"
Wavy.shader		RCDATA		"Wavy.shader"
Wavy2.shader		RCDATA		"Wavy2.shader"
blackandwhite.shader		RCDATA		"blackandwhite.shader"
Bloom.shader		RCDATA		"Bloom.shader"
Pixelate.shader		RCDATA		"Pixelate.shader"
LightStreak.shader	RCDATA		"LightStreak.shader"
Ripple.shader		RCDATA		"Ripple.shader"
Swirl.shader		RCDATA		"Swirl.shader"
Pinch.shader		RCDATA		"Pinch.shader"
DirectionalBlur.shader		RCDATA		"DirectionalBlur.shader"