TEST RCDATA
BEGIN
"Hi there, how are you?\0"
END


/////////////////////////////////////////////////////////////////////////////
//
// 2110
//

logo_png                2110    DISCARDABLE     "logo.png"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    1             "Hola my friend!"
END