p            { font-family: Trebuchet MS; padding: 10 }
body         { background-color: #FFFFFF; background-image: url('stripe3.jpg'); 
               background-repeat: repeat-x; background-attachment: scroll; 
               background-position: left top }
h1           { font-family: Trebuchet MS; color: #808080 }
h2           { font-family: Trebuchet MS }
h3           { font-family: Trebuchet MS; color: #808080 }
h4           { font-family: Trebuchet MS; color: #808080; font-style: italic; font-weight: 
               bold }
h5           { font-family: Trebuchet MS }
h6           { font-family: Trebuchet MS }
table        { font-family: Trebuchet MS }
a            { font-family: Trebuchet MS; color: #0000FF }
pre          { font-family: Courier New; font-weight: bold; background-color: #CEEFFF; 
               border: 1 solid #0088B5 }
              
code 			{ font-family: Courier New; font-weight: bold; color: #808080 }            